@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-color: #dea47e;
  --secondary-color: #9e6240;
  --accent1-color: #cd4631;
  --accent2-color: #81adc8;

  --heading-font: "IM Fell Great Primer", serif;
  --paragraph-font: "Merriweather", serif;

  --nav-background-color: rgba(46, 45, 45, 0.8);
  --nav-link-color: #f8f2dc;
  --nav-hover-link-color: #cd4631;
  --nav-hover-background-color: #dea47e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
  background-color: var(--nav-background-color);
}

header img {
  width: 100px;
  height: auto;
  float: left;
  margin-bottom: 20px;
}

p {
  padding: 25px;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--primary-color);
  font-size: 40px;
}

.hero h1 span {
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}
article {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;
  height: 30%;
  color: var(--primary-color);
}

.hero article img {
  float: right;
  width: auto;
  height: 100%;
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

nav a:link,
nav a:visited {
  color: var(--primary-color);
}

.article-img {
  float: right;
  width: 100px;
  height: auto;
}

p {
  padding: 25px;
}
header nav {
  font-size: 1.2rem;
  display: flex;
  text-justify: distribute;
  text-decoration: none;
  padding: 1rem;
  font-size: x-large;
  margin-left: 10%;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

footer {
  background-color: var(--accent1-color);
  text-align: center;
}

.sociallinks {
  display: flex;
  justify-content: center;
}

section {
  text-align: center;
}

@media screen and (min-width: 480px) {
  header nav {
    margin-left: 40%;
  }
}
