/* @import url("https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"); */

:root {
  --primary-color: #dea47e;
  --secondary-color: #9e6240;
  --accent1-color: #cd4631;
  --accent2-color: #81adc8;

  --heading-font: "IM Fell Great Primer", serif;
  --paragraph-font: "Merriweather", serif;

  --nav-background-color: rgba(46, 45, 45, 0.8);
  --nav-link-color: #f8f2dc;
  --nav-hover-link-color: #cd4631;
  --nav-hover-background-color: #dea47e;
}
@media screen and (min-width: 480px) {
  * {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--nav-background-color);
}

/* Header */

header {
  padding: 20px;
  background-color: var(--accent1-color);
  background-color: var(--nav-background-color);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  justify-content: center;
}

header img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

p {
  padding: 25px;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--nav-link-color);
  font-size: 40px;
}

.hero h1 span {
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}
article {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  width: 60%;
  margin: 0 auto;
  height: 30%;
  color: var(--nav-link-color);
}

.hero article img {
  float: right;
  width: auto;
  height: 100%;
}

.article-img {
  float: right;
  width: 100px;
  height: auto;
}

.article-p {
  padding: 10px;
  margin-right: 10px;
}

/* nav */

header nav {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  text-justify: distribute;
  text-decoration: none;
  padding: 1rem;
  font-size: x-large;
  margin-left: 10%;
  color: var(--nav-link-color);
}

nav a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--secondary-color);
}

nav a:link {
  color: var(--nav-link-color);
}
nav a:visited {
  color: var(--accent2-color);
}

/* section History */

@media screen and (min-width: 480px) {
  .history div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .history img {
    max-width: 80%;
    height: auto;
  }
}

/* section adventure */

@media screen and (min-width: 480px) {
  .adventure figure {
    border: thin var(--primary-color) solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: 10px;
    background-color: var(--nav-background-color);
  }

  .adventure-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  figcaption {
    color: var(--nav-link-color);
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
  }
}

/* footer */

footer {
  background-color: var(--nav-background-color);
  color: var(--nav-link-color);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.sociallinks {
  display: flex;
  justify-self: right;
}

section {
  text-align: center;
}

/* contact */
td {
  text-align: start;
  padding: 0 20px 20px;
}

.employees {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  align-items: center;
  justify-items: center;
  max-width: 60%;
}
.employees img {
  padding: 10px;
  width: 300px;
  height: auto;
}
.employees figure {
  margin-left: auto;
  margin-right: auto;
}

.employees figcaption {
  color: var(--nav-background-color);
}

.input-label {
  margin-bottom: 10px;
}

.form-input {
  margin-bottom: 10px;
}

.input {
  width: 50%;
}

/* buttons */
.submit {
  background-color: var(--nav-background-color);
  color: white;
  padding: 10px 30px;
  border-radius: 50%;
  font-size: large;
}

/* trips */
.trips-article {
  width: 150px;
  height: auto;
  text-align: center;
}

.trips-article h2 {
  margin-top: auto;
  text-align: center;
  color: var(--nav-link-color);
}

.trips-article a:link {
  text-decoration: none;
}

.trips-article a:visited {
  text-decoration: none;
}

.trips-article a:hover {
  text-decoration: none;
}

.trips-article a:active {
  text-decoration: none;
}

.trips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.table-head,
.table {
  border-bottom: solid;
  border-bottom-color: var(--nav-background-color);
  border-bottom-width: 3px;
}

/* home */
.home-article {
  width: 200px;
  height: auto;
  text-align: center;
}

.button {
  background-color: rgba(46, 45, 45, 0.8);
  color: #f8f2dc;
  padding: 10px 20px;
  border-radius: 50%;
}

.home-article h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--nav-link-color);
}

.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 450px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

iframe {
  border: 0;
}

.sociallinks a {
  align-items: center;
}

.sociallinks-img {
  padding: 5px;
}

textarea {
  width:100%;
}
