* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

h1 {
  color: orangered;
}

nav {
  background-color: aqua;
  padding: 10px;
  display: block;
}

nav a {
  color: orangered;
}

nav a:hover {
  color: darkred;
}

main {
  max-width: 840px;
  margin: 0 auto;
}

main img {
  width: 150px;
  height: auto;
  float: right;
}

aside {
  width: 20rem;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 47px;
  left: 150px;
}

p {
  padding: 0;
}

footer {
  margin-bottom: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

ul.box {
  list-style-type: none;
  clear: both;
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
